body #content {
  margin: 50px 120px;
}

nav {
  font-family: "montserrat";
  padding: 10px 75px !important;
  box-shadow: 0px 1px 10px 0px #00000040;
}

.nav-button {
  width: 154px;
  height: 50px;
  border-radius: 0px;
  background-color: #044b05;
  border-bottom-right-radius: 20px;
}

body a {
  text-decoration: none;
}

#top .left h1 {
  margin-top: 200px;
  width: 415px;
  font-family: "Times New Roman";
  font-size: 48px;
  font-weight: 400;
  line-height: 55.2px;
  text-align: left;
  color: #034b04;
  margin-bottom: 100px;
}

#top .left p {
  width: 553px;
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  text-align: left;
}

#top .left input {
  border: none;
}

.top-btn {
  color: #fff;
  font-family: "montserrat";
  width: 270px;
  height: 50px;
  top: 536px;
  left: 426px;
  gap: 0px;
  border-radius: 0px 0px 25px 0px;
  opacity: 0px;
  background-color: #efaf29;
}

#top .right img {
  margin-top: 20%;
  margin-left: 20%;
}

#aboutUs {
  margin-left: -120px; /* Counteract the left margin of the body */
  margin-right: -120px;
  background-color: #eaf6ec;
  padding: 200px 120px;
}

#aboutUs .item-wrapper {
  margin-left: 25%;
}

#aboutUs .left h1 {
  color: #034b04;
  width: 396px;
  font-family: "Times New Roman";
  font-size: 56px;
  font-weight: 400;
  line-height: 64.39px;
  text-align: left;
}

#aboutUs .left p {
  width: 468px;
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  text-align: left;
}

#aboutUs .right .item {
  padding: 20px;
  background-color: #fff;
  width: 300px;
  top: 1060px;
  left: 844px;
  gap: 0px;
  border-radius: 5px 0px 0px 0px;
  opacity: 0px;
}

#aboutUs .right .item h1 {
  font-family: "Times New Roman";
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
  text-align: left;
}

#aboutUs .right .item p {
  font-family: "Montserrat";
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
}

#aboutUs .right .icon {
  border-radius: 0px 0px 20px 0px;
  box-shadow: 0px 2px 4px 0px #00000040;
  box-shadow: 0px 4px 4px 0px #f3f3f3;
  left: 60%;
  background-color: #fff;
  width: fit-content;
}

#extra-aboutUs .image-left {
  margin-top: -50px;
}

#extra-aboutUs .image-right {
  margin-top: -170px;
}

#extra-aboutUs .item-wrapper {
  margin-top: -50px !important;
}

#extra-aboutUs .item-wrapper .item {
  background-color: #fff;
  padding: 20px;
  border-radius: 7px;
  width: 100px;
  height: 100px;
  box-shadow: 0px 4px 4px 0px #00000040;
}

#process {
  margin-top: 100px;
}

#process h1 {
  color: #034b04;
  font-family: "Times New Roman";
  font-size: 56px;
  font-weight: 400;
  line-height: 64.39px;
}

#process p {
  font-family: "Montserrat";
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  text-align: center;
}

#process p span {
  color: #fff;
  background-color: #eeae28;
  padding: 2px 12px;
  border-bottom-right-radius: 10px;
}

#process .item-wrapper {
  margin-top: 100px !important;
}

#process .item-wrapper .item {
  background-color: #fff;
  padding: 20px;
  box-shadow: 0px 2px 5px 0px #00000040;
  border-radius: 10px;
}

#process .item-wrapper .item h1 {
  margin-left: auto;
  margin-right: auto;
  width: 289px;
  font-family: "Times New Roman";
  font-size: 32px;
  font-weight: 400;
  line-height: 36.8px;
}

#process .item-wrapper .item p {
  margin-left: auto;
  margin-right: auto;
  width: 235px;
  font-family: "Montserrat";
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
}

#process .item-wrapper .icon {
  margin-top: -75px;
  margin-left: 35%;
  width: 100px;
  height: 100px;
  padding: 25px;
  border-bottom-right-radius: 50px;
  background-color: #fff;
  box-shadow: 0px 2px 10px 0px #00000040;
}

#process .btn {
  background-color: #eeae28;
  color: #fff;
  border-radius: 0px;
  border-bottom-right-radius: 9px;
}

#reason {
  margin-top: 100px;
}

#reason h1 {
  font-family: " Times New Roman";
  font-size: 56px;
  font-weight: 400;
  line-height: 64.39px;
  text-align: center;
  margin-bottom: 50px;
  color: #034b04;
}

#reason p {
  margin-left: auto;
  margin-right: auto;
  width: 642px;
  font-family: "Montserrat";
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  text-align: center;
}

#reason .left {
  width: 393px;
  height: 284px;
  padding: 50px;
  background-color: #034b04;
  border-radius: 10px;
  border-bottom-left-radius: 50px;
}

#reason .right {
  width: 393px;
  height: 284px;
  padding: 50px;
  background-color: #034b04;
  border-radius: 10px;
  border-bottom-right-radius: 50px;
}

#reason .right h5 {
  color: #fff;
  font-family: "Times New Roman";
  font-size: 24px;
  font-weight: 700;
  line-height: 27.6px;
  text-align: left;
}

#reason .right p {
  color: #fff;
  font-family: "Montserrat";
  font-size: 12px;
  font-weight: 400;
  line-height: 14.63px;
  text-align: left;
  width: 100%;
  margin-left: 0px;
  margin-right: 0px;
}

#reason .right .icon {
  background-color: #ff0000;
  width: 24px;
  height: 24px;
  border-radius: 100%;
  padding: 4px 4px;
}

#reason .left h5 {
  color: #fff;
  font-family: "Times New Roman";
  font-size: 24px;
  font-weight: 700;
  line-height: 27.6px;
  text-align: right;
}

#reason .left p {
  color: #fff;
  font-family: "Montserrat";
  font-size: 12px;
  font-weight: 400;
  line-height: 14.63px;
  text-align: end;
  width: 100%;
  margin-left: 0px;
  margin-right: 0px;
}

#reason .left .icon {
  background-color: #eeae28;
  width: 24px;
  height: 24px;
  border-radius: 100%;
  padding: 2px 2px;
}

#reason .help {
  margin-top: 100px;
}

#reason .help p {
  width: 817px;
}

#reason .help .item-wrapper {
  row-gap: 50px;
  column-gap: 400px;
}

#reason .help .item-wrapper .item {
  gap: 50px;
}

#reason .help .item-wrapper .icon {
  width: 70px;
  height: 70px;
  padding: 20px;
  box-shadow: 2px 2px 10px 0px #00000026;
  border-radius: 5px 5px 20px 5px;
}

#reason .help .item-wrapper h5 {
  font-family: "Times New Roman";
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
}

#reason .help .item-wrapper p {
  width: 329px;
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
}

#testimonials {
  margin-top: 100px;
}

#testimonials h1 {
  width: 482px;
  color: #034b04;
  font-family: "Times New Roman";
  font-size: 56px;
  font-weight: 700;
  line-height: 84px;
  text-align: left;
}

#testimonials .item-wrapper .item {
  background-color: #eaf6ec;
  padding: 50px;
  border-radius: 10px 10px 10px 50px;
  width: 526px;
}

#testimonials .item-wrapper .item h4 {
  color: #eeae28;
  font-family: "Times New Roman";
  font-size: 288px;
  font-weight: 700;
  text-align: left;
  height: 200px;
  margin-top: -150px;
}

#testimonials .item-wrapper .item .testi {
  margin-bottom: 100px;
  width: 458px;
  font-family: "montserrat";
}

#testimonials .item-wrapper .item img {
  width: 50px;
  height: 50px;
}

footer {
  margin-top: 200px;
  padding: 120px;
  margin-left: -120px;
  margin-right: -120px;
  background-color: #1e3322;
}

footer .footer-form h1 {
  color: #fff;
  width: 482px;
  font-family: "Times New Roman";
  font-size: 36px;
  font-weight: 700;
  line-height: 54px;
  text-align: left;
}

footer .footer-form input {
  background-color: #1e3322;
  border-color: #2e4b33;
  color: #fff;
}

footer .footer-form input::placeholder {
  color: #fff;
}

footer .footer-images {
  height: fit-content;
}

footer .footer-images .secondary {
  margin-top: -200px;
}
